.background-video {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -1;
}

:host {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
