@if (displayMode() === 'menu') {
  <div class="panel menu">
    <div class="title-div">
      <span class="center">Menu</span>
    </div>
    <div class="content">
      <app-button [methodToCall]="createGame">Create</app-button>
      <app-button [methodToCall]="joinGame">Join</app-button>
      <app-button [methodToCall]="spectateGame">Spectate</app-button>
    </div>
  </div>
} @else if (displayMode() === 'create' || displayMode() === 'join' || displayMode() === 'spectate') {
  <div class="panel menu">
    <div class="title-div">
      <app-icon (click)="displayMode.set('menu')" class="left" name="arrow"></app-icon>
      <span class="center">{{displayMode() | titlecase}}</span>
    </div>
    <div class="content">
      @if (displayMode() === 'create') {
        <app-selector
          label="Game Type"
          [choices]="gameTypes"
          [(selected)]="selectedGameType">
        </app-selector>
        <app-button [methodToCall]="createGame">Create</app-button>
      }
    </div>
  </div>
} @else if (displayMode() === 'play') {
  <div class="game-container">
    <div class="panel game">
<!--      <app-board [board]="board"></app-board>-->
    </div>
    <div class="panel info">
      <span class="status">{{getGameStatus | titlecase}}</span>
      <div>
        <app-text-selector [label]="'Game ID :'" [value]="getGameId" [width]="36*6.8"></app-text-selector>
        @if (getGameStatus === GameStatusEnum.CREATED) {

        }
      </div>
      <div>
        @if (getGameStatus === GameStatusEnum.CREATED) {
          <app-button [methodToCall]="startGame">Start</app-button>
        }
      </div>
    </div>
  </div>
}

