<header>
	<div class="left">
		<h1 (click)="changePage('/home')" class="clickable">Gomoku</h1>
	</div>

	<div class="center">
		<nav>
			<app-nav-button [active]="currentPage === '/home'"
			                [methodToCall]="() => changePage('/home')">
				Home
			</app-nav-button>

			<app-nav-button [active]="currentPage.startsWith('/game')"
			                [methodToCall]="() => changePage('/game')">
				Game
			</app-nav-button>

			<app-nav-button [active]="currentPage === '/scoreboard'"
			                [methodToCall]="() => changePage('/scoreboard')">
				Scoreboard
			</app-nav-button>
		</nav>
	</div>

	<div class="right">
		@if (!authService.isLoggedIn()) {
			<app-nav-button [active]="currentPage === '/auth/login'"
			                [methodToCall]="() => changePage('/auth/login')">
				Login
			</app-nav-button>

			<app-nav-button [active]="currentPage === '/auth/register'"
			                [methodToCall]="() => changePage('/auth/register')">
				Register
			</app-nav-button>
		} @else {
			<app-nav-button [methodToCall]="() => toggleBurgerMenu()">
				<app-icon name="burger-menu"/>
			</app-nav-button>

			<app-burger-menu (closed)="closeBurgerMenu()"
			                 [open]="isBurgerMenuOpen"/>
		}
	</div>
</header>
