<header>
  <div class="left">
    <h1>Gomoku</h1>
  </div>

  <div class="center">
    <nav>
      <app-nav-button [methodToCall]="() => changePage('/home')"
                      [active]="currentPage === '/home'">
        Home
      </app-nav-button>
      <app-nav-button [methodToCall]="() => changePage('/game')"
                      [active]="currentPage === '/home'">
        Game
      </app-nav-button>
      <app-nav-button [methodToCall]="() => changePage('/scoreboard')"
                      [active]="currentPage === '/home'">
        Scoreboard
      </app-nav-button>
    </nav>
  </div>

  <div class="right">
    @if (!authService.isLoggedIn()) {
      <app-nav-button
        [methodToCall]="() => changePage('/auth/login')"
        [active]="currentPage === '/auth/login'">
        Login
      </app-nav-button>

      <app-nav-button
        [methodToCall]="() => changePage('/auth/register')"
        [active]="currentPage === '/auth/register'">
        Register
      </app-nav-button>
    } @else {
      <app-nav-button
        [methodToCall]="() => authService.logout()">
        Logout
      </app-nav-button>
    }
  </div>
</header>
